.card-s3{
    width: 180px;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 10px 20px;
    font-family: Urbanist;
}

.icon-flex{
    width: 20%;
    font-size: 25px;
}

.card-title-s3{
    width: 80%;
}
.card-title-s3 h3{
    font-size: 15px;
}
.card-title-s3 span{
    font-size: 10px;
    color: rgb(102, 102, 102);
}
